body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f7f7f7 !important;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


.loading:after {
    content: ' .';
    animation: dots 2s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }

    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }

    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
    }

    80%, 100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}

.bg-primary {
    background-color: #308ee0 !important;
}


#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: .6rem 1rem;
        font-size: 1.2rem;
        display: block;
        text-decoration: none;
        color: white;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.mypass-sidebar {
    background-color: #374350;
}

    .mypass-sidebar .mypass-sidebar-item {
        background-color: #374350;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }

    .mypass-sidebar a.mypass-sidebar-item:hover {
        background-color: #27303a;
    }

    .mypass-sidebar .mypass-sidebar-menu {
        background-color: #374350;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
    }

    .mypass-sidebar a.mypass-sidebar-menu:hover {
        background-color: #27303a;
    }

.border-bottom-dark {
    background-color: black;
}
